@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

html{
    font-family: "Poppins", sans-serif;
    font-size:14px;
}

/*LAYOUT*/

.container{
    max-width: 80%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    
}
.main-header ul{
    display: flex;
    gap: 20px;
    color: white;
}

.row{
    display: flex;
    align-items: flex-start;
    padding: 1vw 0;
    flex-wrap: wrap;
}

.column-33{
    width: calc(100%/3);
    padding: 15px 10px;
}

.card{
    position: relative;
}

/*TEXT FORMAT*/

.navbar{
    font-size: 1vw;
}

.text{
    line-height: 1.5vw;
    font-size: 1vw;
}

.old-price{
    text-decoration: line-through;
}

.new-price{
    color: red;
    font-weight: bold;
}

.footbar p{
    font-size: 1.5vw;
}

.footbar .legal{
    font-size: 1vw;
}

/*HEADER*/
.main-header{
    background-color: #ff6900;
    margin-bottom: 30px;
}

.main-header img{
    max-width: 10vw;
}

.icon{
    width: 2vw;
}

/*MAIN*/

.card-foreground{
    position: absolute;
    bottom:15%;
}

.like{
    position: absolute;
    background-color: white;
    color: black;
    width: 3.5vw;
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
    padding: 2px 2px;
    bottom:31vw;
    left: 22.5vw;
}

.discount{
    background-color: red;
    color: white;
    width: 4vw;
    font-weight: bold;
    text-align: center;
    font-size: 1vw;
    padding: 3px 2px;
}

.sustain{
    background-color: green;
    color: white;
    width: 8vw;
    font-weight: bold;
    text-align: center;
    font-size: 1vw;
    padding: 3px 2px;
}


/*FOOTER*/

footer{
    background-color: #1a1a1a;
    color: white;
    padding:20px 0;
}

.footbar{
    display: flex;
    justify-content: space-between;
}

.legal{
    display: flex;
    gap: 10px;
}

.social{
    display: flex;
    gap: 10px;
}

/*HOVER TEST*/

/*img-1*/
#img-1b{
    display: none;
}

#img-1:hover #img-1a{
    display: none;
}


#img-1:hover #img-1b{
    display: block;
}

/*img-2*/
#img-2b{
    display: none;
}

#img-2:hover #img-2a{
    display: none;
}


#img-2:hover #img-2b{
    display: block;
}

/*img-3*/
#img-3b{
    display: none;
}

#img-3:hover #img-3a{
    display: none;
}


#img-3:hover #img-3b{
    display: block;
}

/*img-4*/
#img-4b{
    display: none;
}

#img-4:hover #img-4a{
    display: none;
}


#img-4:hover #img-4b{
    display: block;
}

/*img-5*/
#img-5b{
    display: none;
}

#img-5:hover #img-5a{
    display: none;
}


#img-5:hover #img-5b{
    display: block;
}

/*img-6*/
#img-6b{
    display: none;
}

#img-6:hover #img-6a{
    display: none;
}


#img-6:hover #img-6b{
    display: block;
}
